<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="{{ asset('bundles/plateformemenuvendeur/css/style.css') }}" type="text/css" media="all" />
</head>
<body>


<h3>Formulaire d'article</h3>
<div class="well">

<table>
<tr>
   {% for product in listProducts %}


<td>

{%if product.nameFichier=='' %}
<p>Pas d'image <br/>pour ce product </p>
{%endif%}
{%if not product.nameFichier=='' %}
<a href="{{asset('/uploads/Products_img/'~product.nameFichier|e)}}"><img src="{{ asset('/uploads/Products_img/mini/'~product.nameFichier|e) }}"/></a><br/>
{%endif%}

<label>name :{{product.name}}</label><br/>
<label>
Description :
{{product.description}}
</label><br/>

<label>
Quantité :{{product.qte}}
</label><br/>

<label>
Prix :{{product.price}}
</label><br/>


</td>


 {% endfor %}
 </tr>
 <tr><td><a href="{{ path("home_client") }}">Go back into home</a><br/></td></tr>


 <tr><td><a href="{{ path("logout") }}">Logout</a></td></tr>
</table>
</div>

</body>
</html>
