<!DOCTYPE html>
<html>
<body>
{% block body %}
{# S'il y a une erreur, on l'affiche dans un joli cadre #}
{# Le formulaire, avec URL de soumission vers la route «
login_check » comme on l'a vu #}



<a href="{{ path("ajoutProduit") }}">Ajouter un ou des produit(s)<br/></a>
<a href="{{ path("afficherProduit") }}">Afficher les produits</a><br/>
<a href="{{ path("afficheCommandes") }}">Commandes passées</a><br/>
<a href="{{ path("profilvendeur") }}">Profil</a><br/>
<a href="{{ path("logout") }}">Se deconnecter</a>
{% endblock %}
</audio>
</body>
</html>
