<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="{{ asset('bundles/plateformemenuvendeur/css/style.css') }}" type="text/css" media="all" />
</head>
<body>


<h3>Formulaire d'article</h3>
<div class="well">

<table>
<tr>
   {% for produit in listeproduits %}


<td>
{%if produit.nomFichier=='' %}
<p>Pas d'image <br/>pour ce produit </p>
{%endif%}
{%if not produit.nomFichier=='' %}
<a href="{{asset('/uploads/Annonces_img/'~produit.nomFichier|e)}}"><img src="{{ asset('/uploads/Annonces_img/mini/'~produit.nomFichier|e) }}"/></a><br/>
{%endif%}
<label>Nom :{{produit.nom}}</label><br/>
<label>
Description :
{{produit.description}}
</label><br/>

<label>
Quantité :{{produit.qte}}
</label><br/>

<label>
Prix :{{produit.prix}}
</label><br/>
<label>
Catégories :{{tableau[produit.catid]}}
</label><br/>
<label><button type="button"><a href="modifierProduit/{{produit.prodid}}">Modifier!</a></button></label><br/>
  <label><button type="button"><a href="deleteProduit/{{produit.prodid}}">Supprimer!</a></button></label><br/>
</td>


 {% endfor %}
 
</tr>

 <tr><td><button type="button"><a href="{{ path('viderProduit') }}">Supprimer tous mes produits!</a></button></td></tr>
 <tr><td><a href="{{ path("logout") }}">Se deconnecter</a> </td></tr>

</table>
</div>

</body>
</html>
