<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="{{ asset('bundles/plateformemenuvendeur/css/style.css') }}" type="text/css" media="all" />
</head>
<body>


<h3>Formulaire d'article</h3>
<div class="well">

<table>
<tr>
   {% for produit in listeproduits %}


<td>

<a href="{{asset('/uploads/Annonces_img/'~produit.nomFichier|e)}}"><img src="{{ asset('/uploads/Annonces_img/mini/'~produit.nomFichier|e) }}"/></a><br/>

<label>Nom :{{produit.nom}}</label><br/>
<label>
Description :
{{produit.description}}
</label><br/>

<label>
Quantité :{{produit.qte}}
</label><br/>

<label>
Prix :{{produit.prix}}
</label><br/>
<label>
Catégories :{{tableau[produit.catid]}}
</label><br/>

 <a href="ajoutPanier/{{produit.prodid}}" class="btn">Ajouter le produit au panier </a></td>
</td>


 {% endfor %}
 </tr>
 <tr><td><a href="{{ path("logout") }}">Se deconnecter</a></td></tr>
</table>
</div>

</body>
</html>
