<h3>Formulaire d'article</h3>
<div class="well">
{{ form_start(form) }}
<table>
<tr>
<td>Name :</td>
<td>{{ form_widget(form.name)}}
</td>
</tr>

<tr>
<td>description :</td>
<td>

{{ form_widget(form.description)}}

</td>
</tr>

<tr>
<td>Amount :</td>
<td>
{{ form_widget(form.qte)}}
</td>
</tr>

<tr>
<td>Price:</td>
<td>
{{ form_widget(form.price)}}
</td>
</tr>

<tr>
<td>Type :</td>
<td>
{{ form_widget(form.typeid) }}
</td>
</tr>

<tr>
<td>File :</td>
<td>
{{ form_widget(form.file)}}
</td>
</tr>
</table>


<input type="submit" class="btn btn-primary" />
{{ form_end(form) }}
   <tr><td><a href="{{ path("home_seller") }}">Go back into home</a><br/></td></tr>
 <tr><td><a href="{{ path("logout") }}">Se deconnecter</a> </td></tr>
</div>
