<!DOCTYPE html>
<html>
<body>


<div class="well">
<table>
<h3>Registration</h3>

{{ form_start(form) }}

<tr>
<td>Name:</td>
<td>{{ form_widget(form.name) }}</td>
</tr>

<tr>
<td>Firstname:</td>
<td>{{ form_widget(form.firstname) }}</td>
</tr>

<tr>
<td>Username:</td>
<td>{{ form_widget(form.username) }}</td>
</tr>

<tr>
<td>Email:</td>
<td>{{ form_widget(form.email) }}</td>
</tr>

<tr>
<td>Password:</td>
<td>{{ form_widget(form.password) }}</td>
</tr>

<tr>
<td>Confirm your password:</td>
<td>{{ form_widget(form.password2) }}</td>
</tr>

<tr>
<td>Type:</td>
<td>{{ form_widget(form.type) }}</td>
</tr>

<tr><td><input type="submit" class="btn btn-primary" /></td></tr>

{{ form_end(form) }}
</table>
</div>





