<!DOCTYPE html>
<html>
<body>


<div class="well">
<table>
<tr>
   <td>NOM</td>
 <td>QTE</td>
 </tr>
{%if not listBasket==null%}
	{% for basket in listBasket %}
<tr>
 <td>{{tableau[basket.prodid]}}</td>
<td>{{basket.qte}}</td>
 
 <td><a href="deletebasket/{{basket.pid}}" class="btn"><i class="icon-edit"></i>Delete</a></td>
 <td><a href="updateBasket/{{basket.pid}}" class="btn"><i class="icon-edit"></i>Update</a></td>
</tr>
 {% endfor %}

<tr><td><button type="button"><a href="{{ path('addOrder') }}">To order!</a></button></td></tr>
<tr><td><button type="button"><a href="{{ path('emptybasket') }}">Empty the basket!</a></button></td></tr>
 {%endif%}
 </table>
 {%if listBasket==null%}
 <p>Your basket is empty</p>
 
  {%endif%}
 
<a href="{{ path("home_client") }}">Go back into home</a><br/>

<a href="{{ path("logout") }}">Logout</a>
</div>
</body>
</html>
